body {
	margin: 0;
	padding: 0;
  font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	background-color: #849d8f;
}

.site-wrapper {
	min-width: 940px;
	background-color: #849d8f;
	background-image: url("../img/icecream-slide-1.png");
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 100vh;
	transition: background-image 0.5s ease, background-color 0.5s ease;
  }

.site-wrapper::before,
.site-wrapper::after {
	content: "";

	visibility: hidden;
}
	
.site-wrapper::before {
	background-image: url("../img/icecream-slide-2.png");
}
	
.site-wrapper::after {
	background-image: url("../img/icecream-slide-3.png");
}

.not-show {
	display: none;
}

.list-style {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-header a {
	text-decoration: none;
}

.main-navigation {
	display: flex;
	padding:0;
	margin:0;
	padding-top:9px;
}

.main-navigation .logo {
	padding: 0;
	margin: 0;
	margin-right: 8px;
}

.site-navigation {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	font-size: 16px;
	line-height: 18px;
	font-weight: 700;

	padding-top: 13px;

}

.site-navigation li {
	padding: 0;
	margin: 0;
}

.site-navigation a {
	display: block;
	margin: 0;
	padding: 8px 14px;
	position: relative;
	color: #ffffff;
}

.site-navigation a::after {
	content: "";
	position: absolute;
	left: 14px;
	right: 14px;
	bottom: 7px;
	display: inline-block;
	height: 1px;
	background-color: rgba(255,255,255,0.2)
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #f7f6f3;
	color: #000000;
	border-radius: 50px;
}

.user-navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	display: flex;
	padding-top: 14px;
	margin-bottom: 17px; 
}

.user-link {
	display: block;
	padding: 7px 16px;
	margin-right:10px;
	background-color: #9db1a5;
	border-radius: 50px;
	padding-bottom: 8px;
}

.user-link:hover {
	background-color: #f4f3f0;
	color: #000000;
}

.cart-link {
	position: relative;
	padding-left: 45px;
	margin-right: 0;
}

.cart-link::before {
	content: "";
  width: 25px;
  height: 25px;
	position: absolute;
	left: 14px;
	top: 3px;
	background-image: url(../img/cart-empty.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.cart-link:hover::before {
	background-image: url(../img/cart-empty-hover.svg);
}

.not-empty {
	position: relative;
	padding-left: 47px;
	background-color: #f7f6f3;
	color: #000000;
}

.not-empty::before {
	content: "";
  width: 25px;
  height: 25px;
	position: absolute;
	left:16px;
	top: 4px;
	background-image: url(../img/cart-full.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.login-link {
	position: relative;
	padding-left: 44px;
}

.login-link::before {
	content: "";
  width: 25px;
  height: 25px;
	position: absolute;
	left: 15px;
	top: 3px;
	background-image: url(../img/enter.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.login-link:hover::before {
	background-image: url(../img/enter-hover.svg);
}

.search-link {
	position: relative;
	font-size: 0;
	line-height: 0;
	padding: 8px;
}

.search-link:hover path {
	fill: #000000;
}

.info{
	margin: 0;
	padding: 0;
}

.info p {
	margin: 0;
	padding: 0;
}

.info .schedule {
	font-size: 14px;
	line-height: 16px;
	font-weight:700;
	text-align: end;
	margin-bottom: 4px;
}

.phone {
	font-size: 22px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	font-weight:700;
}

.slider {
	position: relative;
	padding-top: 275px;
	text-align: center;
	color: #ffffff;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 29px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}

.slider .button {
	padding: 10px 40px;
	font-weight: 700;
  font-size: 32px;
	line-height: 44px;
	text-decoration: none;
	margin-bottom: 41px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide {
	display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream-slide-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecream-slide-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecream-slide-3.png");
}

.action-list {
	display:flex;
	justify-content: space-between;
}

.action-item {
	box-sizing: border-box;
	padding-top: 16px;
	padding-left:  19px;
	padding-bottom: 24px;
	padding-right: 20px; 
	width: 560px;
	border-radius: 15px;
	background-color: #5a5a5a;
	position: relative;
	display: flex;
	flex-direction: column;
}

.action-item:first-child {
	background-color: #611020;
	background-image: url("../img/raspberry-back.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}

.action-item:last-child {
	background-color: #41281d;
	background-image: url("../img/chokolate-back.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}

.action-item h3 {
	padding: 0;
	margin: 0;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	margin-bottom: 15px;
}

.action-item p {
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	margin-bottom: 45px;
}

.action-item .button {
	align-self: flex-end;
	padding: 10px 23px;
}

.actions {
	margin-bottom: 40px;
}

.bestsellers .catalog-item::before
{
	content: "";
	width: 62px;
	height: 62px;
	position: absolute;
	background-image: url("../img/hit.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
}

.bestsellers {
	margin-bottom: 20px;
}

.about-us {
	background-color: #dfd7c0;
	background-image: url(../img/wafle-back-piece.jpg);
	background-repeat: repeat;
	border-radius: 15px;
	color: #000000;
	box-sizing: border-box;
	padding: 25px 20px;
	padding-bottom: 18px;
	margin-bottom: 40px;
}

.about-us-description {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	letter-spacing: 0.005em;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

.about-us-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.about-us-item {
	width: 540px;
	padding: 0;
	margin:0;
}

.about-us-item p {
	padding-left: 58px;
	padding-top: 16px;
	padding-right: 0;
	padding-bottom: 8px;
	margin:0;
	position: relative;
}

.technology p::before {
	content: "";
	position: absolute;
	width: 49px;
	height: 49px;
	background-image: url(../img/icecream.svg);
	background-repeat: no-repeat;
	background-position: center center;
	left: 0px;
	top: 3px;
}

.ingredients p::before {
	content: "";
	position: absolute;
	width: 49px;
	height: 49px;
	background-image: url(../img/cow.svg);
	background-repeat: no-repeat;
	background-position: center center;
	left: 0px;
	top: 3px;
}

.natural p::before {
	content: "";
	position: absolute;
	width: 49px;
	height: 49px;
	background-image: url(../img/leaf.svg);
	background-repeat: no-repeat;
	background-position: center center;
	left: 0px;
	top: 3px;
}

.delivery p::before {
	content: "";
	position: absolute;
	width: 49px;
	height: 49px;
	background-image: url(../img/temperature.svg);
	background-repeat: no-repeat;
	background-position: center center;
	left: 0px;
	top: 3px;
}


.from-blog-title {
	font-weight: 500;
}

.from-blog {
	color: #000000;
	background-color: #ffffff;
	background-image: url("../img/strawbery-back.jpg");
	background-repeat: no-repeat;
	box-sizing: border-box;
	width: 560px;
	margin:0;
	padding-left: 20px;
	padding-top: 23px;
	padding-right: 250px;
	padding-bottom:25px;
	border-radius: 15px;
}

.from-blog a {
	text-decoration: underline;
	color: #000000;
	font-size: 24px;
	line-height: 30px;
	font-weight:700;
}

.from-blog h2,
.from-blog p {
	margin: 0;
}

.from-blog .from-blog-title {
	margin-bottom: 5px;
}

.subscribe {
	width: 548px;
	padding: 5px;
	background-image: url("../img/post-back.jpg");
	border-radius: 15px;
}

.subscribe-inner {
	background-color: #f8f7f4;
	border-radius: 15px;
	color: #5a5a5a;
	padding: 29px 20px;
}

.subscribe-form {
	display:flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

.subscribe p {
	margin:0;
	margin-bottom: 35px;
}

.subscribe-form-field {
	padding: 10px 12px;
	flex-grow: 1;
	margin-right: 10px;
}

.map {
	position: relative;
	width: 1200px;
	height: 428px;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: -27px;
	margin-bottom: 18px;
}

.adress {
	display: flex;
	flex-direction: column;
	width: 252px;
	color: #000000;
	background-color: #fefefe;
	border-radius: 15px;
	position: absolute;
	right:27px;
	bottom: 60px;
	padding: 30px 25px;
}

.adress p {
	margin: 0;
	padding: 0;
}

.adress p:nth-of-type(2n+1) {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 3px;
}

.adress p:nth-of-type(2) {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 15px;
}

.adress p:last-of-type {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 30px;
}

.adress a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
}

.adress .button {
	padding: 10px 25px;
}

.page-footer {
	display: flex;
	justify-content: flex-start;
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	font-size: 0;
	line-height: 0;
	margin-top: 18px;
}

.social-button svg {
	border-radius: 50%;
	border: 3px solid #bfccc5; 
}

.social-button path {
	fill: #e6ebe9;
}

.social-button:hover path {
	fill: #ffffff;
}

.social-button:active path {
	fill: #e9e9e9;
}

.social-button {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 11px;
	margin-bottom: 11px;
}

.footer-navigation-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top:18px;
}

.column {
	margin-right: 10px;
}

.footer-navigation-item {
	font-size: 13px;
	line-height: 18px;
	padding-left: 22px;
	margin-bottom: 5px;  
}

.footer-navigation-importantitem {
	font-weight: 700;
}

.footer-navigation-importantitem a {
	position: relative;
}

.footer-navigation-importantitem a::before {
	content:"";
	width: 16px;
	height: 16px;
	position: absolute;
	left:-23px;
	background-image: url(../img/heart.svg);
	background-position: center center;
	background-repeat: no-repeat;
}


.footer-copyright {
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	margin-left: auto;
}

.page-footer .logo {
	display: block;
	margin: 0;
	padding: 0;
	margin-left: -5px;
}

 .link-dark a {
	color:#000000;
	text-decoration-color:  rgba(0,0,0,0.2)
}

.link-light a {
	color: #ffffff;
	text-decoration-color: rgba(255,255,255,0.5)
}

.link-dark a:hover,
.link-dark a:focus,
.link-dark a:active {
	color: #e84d37;
	text-decoration-color: rgba(232,77,55,0.5)
}

.link-light a:hover,
.link-light a:focus,
.link-light a:active {
	color: #ffbc9e;
	text-decoration-color: rgba(255,188,158,0.5)
}

input[type="text"],
input[type="password"] {
	font-color: #323232;
	border-radius: 3px;
	line-height: 24px;
	border: 1px solid #b2b2b2;
}

input[type="text"]:hover,
input[type="password"]:hover {
	box-shadow: 0 0 0 2px #9a9a9a;
}

.button {
  display: inline-block;
	font: inherit;
	font-size: 18px;
	line-height: 24px;
	font-weight:700;
	text-align: center;
  color: #ffffff;
  vertical-align: middle;
	border: none;
	border-radius: 30px;
	background: linear-gradient(to bottom, #f16743 , #d84936);
	padding: 12px 20px ;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
}

.button:hover,
.button:focus {
	background: linear-gradient(to bottom, #f58569 , #df5c4b);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
	background: linear-gradient(to bottom, #f84732 , #d16b4c);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}




/*----------------------------------------------*/




.site-navigation-current > a {
	color: #ffffff;
	display: block;
	padding: 8px 14px;
	margin-left:5px;
	position: relative;
	border-radius: 50px;
	background-color: #d07058;
}

.breadcrumbs {
	font-size: 14px;
	line-height: 16px;
	display: flex;
	margin: 0;
	margin-top:-21px;
	margin-bottom: 4px;
}

.breadcrumbs li {
	position: relative;
	padding-right: 21px;
}

.breadcrumbs li:not(:last-child)::after {
	content: "»";
	position: absolute;
	right: 7px;
}

.inner-page h1 {
	font-size: 35px;
	line-height: 41px;
	font-weight:700;
	margin: 0;
	margin-bottom: 30px;
}

.catalog-price {
	font-size: 45px;
	line-height: 45px;
	font-weight:700;
	position: absolute;
	top:210px;
	left:-2px;
	padding-right: 80px;
}

.catalog-price::after {
	content: "";
	position: absolute;
	width: 77px;
	height: 35px;
	background-image: url(../img/rkg.png);
	background-repeat: no-repeat;
	top:5px;
	right:1px;

}

.catalog-measurement {
	font-size: 24px;
	line-height: 24px;
	font-weight:700;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: auto;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 20px;
}

.columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-item img {
	border-radius: 50%;
}

.catalog-item button {
	margin-left: 20px;
}

.catalog-item {
	width: 267px;
	position: relative;
}

.catalog-item article {
}

.catalog-item:hover {
}

.catalog-item a {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	display: inline-block;
	text-align: center;
	margin-top: -10px;
	text-decoration: underline;
	text-decoration-color: rgba(255,255,255,0.2);
}

.modal-search,
.modal-login,
.menu,
.modal-cart {
	position: relative;
}

.modal-search:hover form {
	display: block;
	position: absolute;
	top:63px;
	right:0px;
}

.form-field {
	padding: 10px;
}

.search-form .form-field {
	box-sizing: border-box;
	width: 310px;
}

.modal-form {
	background-color:#f8f7f4;
	padding: 20px 15px;
	border-radius: 5px;
	position: relative;
	
}

.modal-login:hover form {
	display: block;
	position: absolute;
	top:63px;
	right:0px;
	z-index: 10;
}

.login-form input {
	box-sizing: border-box;
	width: 240px;
	margin-bottom: 20px;
}

.modal-form a {
	text-decoration: underline;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}

.login-options {
	position: absolute;
	left:125px;
	bottom: 6px;
	display: flex;
	flex-direction: column;
}

.menu:hover .main-menu {
	display: block;
	position: absolute;
	box-sizing: border-box;
	width: 144px;
	z-index: 10;
}

.main-menu {
	padding: 5px;
}
.site-navigation .main-menu-item {
	padding: 0;
	margin: 0;
}

 .site-navigation .main-menu-item a {
	display: block;
	padding: 5px 15px;
	margin: 0;
	text-decoration: none;
	color: #000000;
}

.new-menu-item a {
	font-weight: 700;
}

.main-menu li:first-child {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.main-menu li:hover {
	background-color: #fbded8;
}

.main-menu li:focus {
	background-color: #f6b5a5;
}

.main-menu-item-curent {
	background-color: #d07058;
}

.site-navigation .main-menu-item-curent a {
	color: #ffffff;
}

.modal-cart:hover .goods-in-cart {
	display: block;
	position: absolute;
	right: 0px;
	top: 62px;
	z-index: 10;
	width: 540px;
}

.goods-in-cart {
	position: relative;
	color: #000000;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
}

.goods-in-cart img {
	border-radius: 50%;
}

.goods-in-cart table {
	border-collapse: collapse;
	margin-bottom: 12px;
}

.goods-in-cart button {
	width: 14px;
	height: 14px;
	border:none;
	background-color: #f8f7f4;
	background-image: url(../img/x.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.goods-in-cart span {
	color: #d6d5d4;
}

.goods-in-cart td {
	padding: 10px 7px;
}

.in-cart-name {
	width: 235px;
}

.in-cart-price {
	width: 120px;
}

.in-cart-sum {
	width: 70px;
}

.total td {
	border-top: 1px solid #efeeeb;
	text-align: right;
	font-weight: 700;
}

.goods-in-cart a {
	position: relative;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	left:360px;
}